{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>MainPage</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/mainPage.css">
    <link rel="stylesheet" href="static/dashboardPage.css">
    <script src="static/mainPage.js" type="text/javascript" defer></script>
</head>
<body>

    <div class="wrapper" id="wrapper_id">
        <!--Top menu -->
        
        

        <div class="main_content", id="div_main_content">
            
            <div class="title">Overview</div>
            <div class="blue">two</div>
            <div class="green">three</div>
            <div class="yellow">Test</div>
        </div>

    </div>

</body>
</html>