{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>MainPage</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/mainPage.css">
    <link rel="stylesheet" href="static/homePage.css">
    <script src="static/mainPage.js" type="text/javascript" defer></script>
</head>
<body>

    <div class="wrapper" id="wrapper_id">
        <!--Top menu -->
        <div class="main_content", id="div_main_content">
            
            <div class="title">Overview</div>
            <div class="introduction">
                <p>In this App I want to display some projects I have done while my time of study at the FAU.</p>
                <p>The different projects are from the Deep Learning domain.</p>
                <p>Behind some of the projects you find another App or a link to a GitHub Repository. </p>
            </div>
            <div class="projects_div">
                <ul >
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project">
                            <a href="/graph">
                                <img src="static/gnn.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">GNN</div>
                            </a>
                        </div>
                    </li>
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="https://github.com/Moritz-Link/BookRecommendation">
                                <img src="static/recomm_test.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Book Recommendation</div>
                            </a>
                        </div>
                    </li>

                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="">
                                <img src="static/celonis.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Process Analytics (Celonis)</div>
                            </a>
                        </div>
                    </li>
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="">
                                <img src="static/celonis.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Process Analytics (Celonis)</div>
                            </a>
                        </div>
                    </li>
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="">
                                <img src="static/celonis.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Process Analytics (Celonis)</div>
                            </a>
                        </div>
                    </li>
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="">
                                <img src="static/celonis.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Process Analytics (Celonis)</div>
                            </a>
                        </div>
                    </li>
                    <li class="projects_element_li">                
                        <div class="project_element" id="GNN_project2">
                            <a href="">
                                <img src="static/celonis.png" alt="Italian Trulli" style="width:100%;height:100%;">
                                <div class="centered_text">Process Analytics (Celonis)</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            
            
        </div>

    </div>

</body>
</html>